:root { /*Web Dev Simplified Tutorial*/
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral); /*Web Dev Simplified Tutorial*/
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%); /*Web Dev Simplified Tutorial*/
    margin: 0;
    padding: 0;
}
body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

#question-box {
    background-color: #fff;
    width: 880px;
    max-width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px 1px;
}

.btn-grid { /*Web Dev Simplified Tutorial*/
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 5px;
    padding: 10px 20px;
}

.btn:hover {
    border:2px solid #000;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue),100%, 30%);
    background-color: hsl(var(--hue),100%, 50%);
    border-radius: 5px;
    padding: 10px;
    color: white;
    outline: none;

}

.btn.correct {
    --hue: var(--hue-correct);
    color: black; 
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

#start-btn, #next-btn {
    background-color: hsl(var(--hue),100%, 70%);
    font-size: 1.4rem;
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 5px;   
}

.controls {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.score-area {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.hide {
    display: none;
}